body{
	padding: 5px;
	margin: 40px;
	text-align: center;
	font-family: calibri, Verdana, fantasy;
	color: #212121;
	background-image: url("../images/background-big.jpg");
	background-size: cover;
}

.container {
	/*none*/
}

nav{
	margin: 0 auto;
	background: #3F51B5;
	border-radius: 25px;
	height: 100px;
}

nav h1 {
	float: left;
	padding: 10px;
	line-height: 40px;
	margin: 0 auto;
}

nav img {
	clear: both;
	margin-bottom: 15px;
	margin-right: 15px;
	margin-left:10px;
}

nav ul {
	float: right;
	list-style: none;
	font-size: 18px;
}

nav a {
	text-decoration: none;
	color: #ffffff;
	display: block;
}


header {
	float: left;
	margin: 10px;
	clear: right;
	width: 250px;
	background-color: #8BC34A;
	border-radius: 25px;
}

article{
	float: left;
	margin: 10px;
	clear: right;
	width: 700px;
	border-radius: 25px;
}

#contact {
	float: left;
	margin: 10px;
	clear: right;
	width: 750px;
}

.card{
	box-shadow: 1px 1px 10px #8BC34A;
	border-top: 30px solid #8BC34A;
	border-bottom: 30px solid #8BC34A;
	min-height: 250px;
	padding-: 10px;
	margin: 10px;
	border-radius: 50px;
	background-color: white;
}

article img {
	margin-bottom: 1px;
	margin-right: 1px;
	margin-left:1px;
}

aside {
	float: left;
	margin: 10px;
	width: 250px;
	background-color: #C5CAE9;
	border-radius: 25px;
	bottom: 0;
}

footer {
	clear: both;
	background-color: #303F9F;
	border-radius: 25px;
	height: 100px;
}

hr.style-eight {
	width: 75%;
	padding: 0;
	border: none;
	border-top: medium double #333;
	color: #333;
	text-align: center;
}

a:link {
	color:#FFFFFF; 
	background-color:transparent; 
	text-decoration:none;
}

a:visited {
	color:pink; 
	background-color:transparent; 
	text-decoration:none;
}

a:hover {
	color:red; 
	background-color:transparent; 
	text-decoration:none;
}

a:active {
	color:cyan; 
	background-color:transparent; 
	text-decoration:none;
}

p {
	font-size: 1em;
	line-height: 1.25em;
	margin: 0.625em 0;
	text-align: justify;
	padding: 20px;
}

p:first-letter {
	font-size: 3.5em;
	line-height: 1em;
}


ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

li {
	float: left;
}

li a {
	display: block;
	text-align: center;
	padding: 5px;
	margin: 5px;
}  

.img-circle {
	border-radius: 50%;
}

form{
	margin: 0 auto;
	width: 500px;
}

label, input, textarea{
	display: block;	
}

input, textarea{
	width: 500px;	
	border: none;
	border-radius: 20px;
	outline: none;
	padding: 10px;
	font-size: 1em;
	color: #676767;
	border: solid 3px #98d4f3;
}

input:focus, textarea:focus{
	border: solid 3px #77bde0;	
}

textarea{
	height: 100px;	
	resize: none; 
	overflow: auto;
}

input[type="submit"]{
	background-color: #F90;
	height: 50px;
	cursor: pointer;
	margin-top: 20px;
	font-size: 1.29em;
}

input[type="submit"]:hover{
	background-color: #e58f0e;
}

label{
	margin-top: 20px;
	padding-left: 20px;
}


/* responsive layout CSS */
@media (max-width: 960px){ 

	body{
		background: radial-gradient(circle, white, powderblue, white, cyan);
	}

	header,nav,nav ul,article,aside,footer,#contact,form,label,input,textarea{
		width: 100%;
		margin-left: 0;
	}
}

/* responsive layout CSS */
@media (max-width: 840px){ 

	body{
		background: radial-gradient(circle, white, powderblue, white, cyan);
	}

	header,nav,nav ul,article,aside,footer,#contact,form,label,input,textarea{
		width: 100%;
		margin-left: 0;
	}
}

/* responsive layout CSS */
@media (max-width: 600px){ 

	body{
		background: radial-gradient(circle, white, powderblue, white, cyan);
	}

	header,nav,nav ul,article,aside,footer,#contact,form,label,input,textarea{
		width: 100%;
		margin-left: 0;
	}
}
