*{
	margin: 20px;
}
table {
    border-collapse: collapse;
    width: 100%;
    margin: auto 0;
    overflow-x:auto;
    margin-bottom: 60px;
}


table, th, td {
    border: 1px solid black;
}

th,td{
	height: 50px;
	 text-align: left;
	 padding: 15px;
    
}

tr:hover {background-color: #f5f5f5}


/* Glyph, by Harry Roberts */

hr.style-eight {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}

h2{
	text-transform: uppercase;
}

pre{
	font-weight: 700;
}

ol{
	margin-left: 0;
}